*.DS_STORE
/BomberManServer/nbproject/private/
/BomberManClient/nbproject/private/
/BomberManClient/build/
/BomberManClient/dist/
/BomberManServer/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/LabirintManServer/nbproject/private/
/LabirintManServer/build/
/Client/dist/